.text-color{
  color:#374b5c;
}
.btn-color{
  background-color: #00dbd0;
}
.main{
	float:right;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

.aside{
	float:left;
	width:30%;
	/* background: #333;
	color:#fff; */
	/* padding:10px; */
	box-sizing: border-box;
}